ETH1_HTTP=
ETH1_CTC_DEPLOYMENT_HEIGHT=
ETH1_SYNC_SERVICE_ENABLE=true
ETH1_CONFIRMATION_DEPTH=0

ROLLUP_CLIENT_HTTP=
ROLLUP_POLL_INTERVAL_FLAG=10000ms
ROLLUP_ENABLE_L2_GAS_POLLING=true

RPC_ENABLE=true
RPC_ADDR=0.0.0.0
RPC_PORT=8545
RPC_API=eth,net,rollup,web3,debug
RPC_CORS_DOMAIN=*
RPC_VHOSTS=*

WS=true
WS_ADDR=0.0.0.0
WS_PORT=8546
WS_API=eth,net,rollup,web3
WS_ORIGINS=*

CHAIN_ID=1705003
DATADIR=/root/.ethereum
GASPRICE=0
GCMODE=archive
IPC_DISABLE=true
NETWORK_ID=1705003
NO_USB=true
NO_DISCOVER=true
TARGET_GAS_LIMIT=15000000
USING_OVM=true
VERBOSITY=3

BLOCK_SIGNER_KEY=6587ae678cf4fc9a33000cdbf9f35226b71dcc6a4684a31203241f9bcfd55d27
BLOCK_SIGNER_ADDRESS=0x00000398232E2064F896018496b4b44b3D62751F

L2_BLOCK_GAS_LIMIT=15000000


# docker-compose envs  sequener
ETH1_HTTP=http://172.17.0.1:8545
ROLLUP_TIMESTAMP_REFRESH=5s
ROLLUP_STATE_DUMP_PATH=http://172.17.0.1:8080/state-dump.latest.json
# connecting to the DTL
ROLLUP_CLIENT_HTTP=http://172.17.0.1:7878
ETH1_CTC_DEPLOYMENT_HEIGHT=8
RETRIES=60
# no need to keep this secret, only used internally to sign blocks
BLOCK_SIGNER_KEY=6587ae678cf4fc9a33000cdbf9f35226b71dcc6a4684a31203241f9bcfd55d27
BLOCK_SIGNER_ADDRESS=0x00000398232E2064F896018496b4b44b3D62751F

ROLLUP_ENFORCE_FEES=true
ROLLUP_FEE_THRESHOLD_DOWN=0.9
ROLLUP_FEE_THRESHOLD_UP=1.1


# custom envs
SYSTEM_ADDRESS_0_DEPLOYER=0xa961b0d6dce82db098cf70a42a14add3ee3db2d5

# private key: 3b8d2345102cce2443acb240db6e87c8edd4bb3f821b17fab8ea2c9da08ea132
# OK to publish this since it will only ever be used in itests
SYSTEM_ADDRESS_1_DEPLOYER=0xdfc82d475833a50de90c642770f34a9db7deb725
